@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  background-color: #1c1f25;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.container-box {
  max-width: 1200px;
  margin: auto;
}
